.gray{
  color:#918E9B;
}
.Nav{
  width: 100vw;;
  height: 70px;
  background-color: #fff;
  box-shadow: 0px  2.98256px 7.4564px rgba(0,0,0,0.1);
  display: flex;
  padding: 1rem 0 1rem 2.5rem;
  position: fixed; /* Stick the navbar to the viewport */
  top: 0; /* Position it at the top of the viewport */
  
}
.navlogo{
  max-width: 200px;
}



.herosection{
  padding: 6rem;
}
.herosection{
  display: flex;
  flex-direction: column;
}
.heroimg{
  width: 100wv;
  align-self: center;
}
.heroheader{
 margin-bottom: 0.75rem;
}
.heropara{
 margin-top: 0;
}


/* CARD DECOR */


.card-list{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow: auto;
  justify-content: center;
  align-items: center;
  /* padding: 0 5rem 0 5rem; */
}

.card{
  width: 400px;
  font-size: 17px;
  flex: 0 0 auto;
  
}

.card-img{
  width: 300px;
  height: 350px;
  border-radius: 15px;
  margin-bottom: 9px;
 
}

.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-stats{
  display: flex;
  align-items: center;
}
.card-star{
  height: 1rem;
}
.card-price{
  margin-top: auto;
  font-weight: bold;
}
.card-badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
